footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 150px;
}

footer figure {
  display: flex;
  justify-content: center;
}

footer img {
  width: 80px;
  height: auto;
  padding: 10px;
}

#mention {
  text-align: center;
}

h1{ font-weight: 100%;
text-align: center;}

.projet{
  margin: 10px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.projet div{
  text-align: center;
  border: solid 2px blue;
  border-radius: 5px;
  margin:10px;
  width: 30%;
  height: 30%;
  padding: 5%;
  
}
